$background-color-dark: hsl(0, 0%, 2%);
$background-color-dark2: hsl(0, 0%, 8%);
$add-green: #082b20;
$hover-background-color: hsla(0, 0%, 20%, 0.603);
$font-color-light: hsla(0, 0%, 96%, 0.897);
$font-color-dark: hsla(30, 2%, 16%, 0.897);
$background-gradient: hsl(0, 0%, 7%);
